/* 
    Preserve the same visual look in browsers which support squircle corners
    and in browsers which do not yet support it.
*/

:root {
  --border-radius-multiplier: 1;
}

@supports (corner-shape: squircle) {
  :root {
    --border-radius-multiplier: 2;
  }
}

.squircle {
  corner-shape: squircle;
  border-radius: 30px !important;
  border-radius: calc(var(--radius) * var(--border-radius-multiplier));
}
